.title {
    width: 60%;
}

.login-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;



    .login-form {
        display: flex;
        width: 100%;
        flex-grow: 1;

        .formulario {
            height: 100%;
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            flex-grow: 1;

            .input-group {
                display: flex;
                flex-direction: column;
                font-weight: 200;
                padding: .5rem;

                label {
                    margin: 0 .5rem;
                    font-size: 1.3rem;
                    color: rgba(241, 241, 241, 0.8);
                }

                input {
                    width: 360px;
                    background-color: var(--background-color);
                    border: 1px solid var(--secondary-color);
                    color: var(--text-color);
                    padding: 10px;
                    margin: .5rem;
                    font-size: 1.5rem;
                    border-radius: 2px;
                }
            }

            .btn {
                display: block;
                width: 360px;
                height: 50px;
                margin: 2rem;
                background-color: var(--main-color);
                color: var(--text-color);
                border-radius: 2px;
                border: none;
                font-size: 1.3rem;

                &:hover {
                    background-color: #e8aa00bd;
                }
            }
        }
    }
}

@media screen and (width > 768px) {

    .main-container {

        .login-sect {
            width: 60%;
            border: 1px solid var(--secondary-color);
            margin: 2rem auto;

            .login-form {

                .formulario {
                    .input-group {
                        padding: 15px;

                        label {
                            font-size: 1.1rem;

                        }

                        input {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}