.main-container {
    flex-grow: 1;

    .title {
        border-bottom: solid 1px var(--main-color);
        margin: 2rem auto;
        text-align: center;
        padding: .2rem;
        width: 80%;

        h1,
        h2 {
            font-weight: 300;
        }
    }

    .subtitle {
        font-family: 'Oswald';
        font-weight: 300;
        font-size: 2em;
        padding: .5em;
    }

    .sect {
        margin-top: 10px;
        width: 100%;
    }

    .products-sect {

        .destacados {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            text-align: center;
            gap: 1rem;
            padding: 2rem;

            .product-list {
                display: grid;
                grid-template-columns: 1fr;
                /* Una columna por defecto (pantallas pequeñas) */
                gap: 1.5rem;
                padding: 1rem;
                width: 100%;

            }
        }
    }
}

.descuento {
    text-decoration: line-through var(--main-color);
    color: rgba(241, 241, 241, 0.6);
}

.info-sect {
    background: url(https://i.imgur.com/r0H46ae.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;


    .subtitle {
        text-align: center;
    }

    .info {
        background-color: rgba(0, 0, 0, 0.565);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .info-logo {
                text-align: center;

                .logo-title {
                    font-family: 'Oswald';
                    font-weight: 200;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                .logo-img {
                    width: 200px;
                }
            }

            .info-text {
                padding: 1rem;

                .btn-container {
                    width: 100%;
                    display: flex;

                    .btn {
                        background-color: var(--main-color);
                        display: inline-block;
                        width: 200px;
                        padding: .5em;
                        text-align: center;
                        text-decoration: none;
                        color: var(--text-color);
                        margin: 16px auto 0;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.features-sect {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--tertiary-color);

    .feature {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .5rem;

        &:nth-child(even) {
            background-color: var(--secondary-color);
        }

        .icon-container {
            padding: 2rem;

            .icon {
                font-size: 2rem;
            }
        }

        .text-container {
            text-align: center;
        }
    }
}

@media screen and (width > 768px) {


    .main-container {

        .products-sect {

            .destacados {
                display: flex;
                flex-direction: column;

                .product-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;
                    padding: 1rem;

                }
            }
        }

        .info-sect {
            width: 100vw;
            height: 60vh;

            .info {

                .info-container {
                    flex-direction: row;
                    justify-content: space-around;
                    margin-bottom: 0;

                    .info-text {
                        width: 600px;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .features-sect {
        flex-direction: row;
    }

    .main-footer {
        display: flex;

        section {
            flex: 1;
            text-align: center;
        }
    }

}