.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    height: 371.59px;
    max-height: 371.59px;
    font-size: 14px;
    padding: 12px;
    background-color: var(--secondary-color);
    position: relative;
    box-sizing: border-box;
    margin: auto;


    .card-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .card-content {
        margin: auto;
        padding: 5px;
        display: flex;
        justify-content: center;
        height: 200px;
        width: 100%;
        max-width: 237px;
        background-color: var(--text-color);
        position: relative;
        box-sizing: border-box;
        
        .img-container {
    
            .card-image {
                height: 100%;
            }
        }
    }


    .card-info {
        padding: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .card-title {
            padding-top: 12px;
        }

        .card-price {
            padding: 12px;
            
            .original-price {
                text-decoration: line-through var(--main-color);
                color: rgba(241, 241, 241, 0.6);
            }
        }

        .card-buttons {

            .card-btn {
                position: relative;
                z-index: 2;
            }
        }
        
    }

    .card-status {
        font-size: .9rem;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 7px;
        border-radius: 4px;
        z-index: 2;
    }

    .sale {
        background-color: red;
    }
}









