.main-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;

    .product-sect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: none;

        .detail {
            display: flex;
            flex-direction: column;
            margin: 1.2rem;
            width: 80%;
            max-width: none;
            max-height: none;
            border-radius: 5px;
    
            .image {
                height: 60vh;
                border-radius: 5px;
                object-fit: contain;
            }
    
            .detail-content {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                
                .detail-title {
                    padding: 1rem;
                    font-size: 2rem;
                    display: flex;
                }
        
                .detail-list {
                    font-size: 1em;
                    padding: 1.5rem;

                    

                    li {
                        line-height: 1.2rem;
                        padding: .5rem 0;
                    }
                }
        
                .detail-text {
                    font-size: 1em;
                    line-height: 1.4em;
                    margin: 10px;
                    flex-grow: 1;
                }

                .detail-price {
                    padding: 12px;
                    
                    .original-price {
                        text-decoration: line-through var(--main-color);
                        color: rgba(241, 241, 241, 0.6);
                    }
                }
        
                .detail-btn {
                    display: flex;
                    margin: 20px 0;
                    width: 99%;
                    height: 80px;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    background-color: var(--main-color);
                    color: var(--background-color);
                    font-size: 1.5em;
                    transition: background-color .2s ease-in-out;
        
        
                    &:hover {
                        background-color: rgb(255, 123, 0);
                    }
                }
            }
        }
    }
}



@media screen and (min-width: 768px) {
    .main-detail-container {
        .product-sect {
            .detail {
                flex-direction: row;

                .detail-content {
                    .detail-list {
                        font-size: 1.2rem;
                    }

                    .detail-text {
                        font-size: 1.2rem;
                    }

                    .detail-price {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1270px) {
    .main-container {
        .product-sect {
            .detail {
                border: 1px solid var(--secondary-color);
            }
        }
    }
}
