.active {
    background-color: var(--main-color);
}

.main-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;

    .input-burger {
        display: none;
        
        &:checked {
            ~ .main-nav {
                left: 0 !important;
            }

            ~ .burger-container {
                .burger {
                    background-color: transparent;
                }

                .burger::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                .burger::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .burger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;

        .burger {
            width: 26px;
            height: 3px;
            background-color: white;
            position: relative;
            cursor: pointer;

            transition: transform .3s ease-in-out;
        }

        .burger::before, .burger::after {
            content: '';
            width: 26px;
            height: 3px;
            background-color: white;
            transition: transform .3s ease-in-out;
        }

        .burger::before {
            position: absolute;
            top: -8px;
        }

        .burger::after {
            position: absolute;
            top: 8px;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        .nav-logo {
            width: 45px;
            height: 45px;
        }
    }
    

    .main-nav {
        position: absolute;
        width: 300px;
        background-color: var(--secondary-color);
        left: -300px;
        top: 60px;
        bottom: 0;
        transition: left 0.3s ease-in-out;
        height: calc(100vh - 60px);
        z-index: 10;
    
        .nav-list {
            padding: 2rem 0;

            .submenu-container {
                position: relative;

                &:hover > .submenu {
                    display: block;
                }

                .submenu {
                    display: none;
                    position: absolute;
                    min-width: 180px;
                    background-color: var(--background-color);
                    top: 50px;
                }
            }
    
            .nav-item {
    
                .nav-link {
                    display: inline-block;
                    color: var(--text-color);
                    text-decoration: none;
                    padding: 1rem;
                    width: 100%;
                    transition: background-color 0.2s ease-out, color 0.2s ease-out;

                    &:hover {
                        background-color: var(--main-color);
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
    
    .user-info {
        display: flex;

        .cart-container {
            display: flex;
            align-items: center;
            color: white;
            padding: .5rem 1rem;
            cursor: pointer;
            position: absolute;
            right: 4.4rem;

            .cart-icon {
                font-size: 32px;
                position: relative;
                color: white; 

                .cart-count {
                    width: 16px;
                    height: 16px;
                    background-color: red;
                    position: absolute;
                    right: -6px;
                    top: -6px;
                    border-radius: 50%;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .picture-container {
            position: relative;
            align-items: center;
            padding: 0 .5rem;
            cursor: pointer;

            &:hover > .submenu {
                display: block;

            }

            .submenu-container {
                display: none;
                position: absolute;
                right: 100px;
                top: 100%;
                background-color: var(--secondary-color);
                min-width: 180px;
                z-index: 1000;

                .nav-item {
                    display: flex;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        padding: 1rem 1.5rem;
                    }
                }
            }

            .user-picture {
                width: 45px;
                height: 45px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (width > 768px) {

    .main-header {
        justify-content: flex-start;

        .user-info {
            margin-left: auto;

            .picture-container {
                display: flex;
            }
        }

        .logo {
            margin: 0 .5rem;
        }

        .burger-container {
            display: none;
        }

        .main-nav {
            position: static;
            width: auto;
            height: auto;

            .nav-list {
                display: flex;
                padding: 0;
                height: auto;

                .submenu-container {
                    .submenu {
                        min-width: 140px;
                        right: -140px;
                        top: 1rem;
                        background-color: var(--secondary-color);
                    }
                }

                .nav-item {
                    display: flex;

                    a.nav-link {
                        display: flex !important;
                        align-items: center;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }

        .user-info {
            .picture-container {
                right: 0;

            }

            
        }
    }
}